.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 2rem 2rem 0 0;
}
.rightbarBirthdayContainer{
    display: flex;
    align-items: center;
}
.rightbarBirthdayImg{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.birthdayText{
    font-weight: 300;
}
.birthdayText b {
    cursor: pointer;
}

.rightbarAd{
    width: 100%;
    max-height: 30rem;
    margin: 3rem 0;
    border-radius: 2rem;
}

.onlineFriendsContainer{
    margin: 2rem 0;
    overflow-y: scroll;
    height: 40vh;
    list-style: none;
}
.onlineFriendsContainer::-webkit-scrollbar{
    display: none;
}
